@model DeerTier.Web.Models.PageViewModel

@{
    ViewBag.Title = "News";
}

<div class="newsPage">
    <h2>News</h2>

    <div class="newsPost">
        <ul class="newsMeta">
            <li class="newsDate">August 13, 2025</li>
            <li class="newsAuthor">threeandthree</li>
        </ul>
        <div class="newsBody">
            <p>
                Hello, I forked deertier. I'm not super comfortable in .NET but we'll see how it goes. It would probably be best to direct feedback to discord.
            </p>
            <p>
                I just set up the most played categories for now, I can set up more later if desired. I've also set up a hard turbo split on each category.
            </p>
            <p>
                Compared to SRC, there's some notable data I'm not capturing: IGT, platform, copy, version, difficulty. By doing it this way I was able to get away with
                almost no modifications, and to be honest that data doesn't seem worth the effort to do otherwise. Regarding difficulty, I figured I could just set up
                dread mode subcategories at some point.
            </p>
        </div>
    </div>
</div>